
.NavBar {
  background-color: red !important;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.link{
  text-decoration: none;
  color: white;
}
.linkresp{
  text-decoration: none;
  color:black;
}
.gallery{
  height: 50vh;
}